<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu?after=help">
       <menu
             id="org.erlide.clearcase.menu"
             label="%Menu_Label">
          <command
                commandId="org.erlide.clearcase.co"
                id="org.erlide.clearcase.co"
                label="%CoFile"
                mnemonic="&amp;Co"
                style="push"
                tooltip="Checkout">
          </command>
          <command
                commandId="org.erlide.clearcase.unco"
                id="org.erlide.clearcase.unco"
                label="%UndoFile"
                mnemonic="&amp;Unco"
                style="push"
                tooltip="Uncheckout">
          </command>
          <command
                commandId="org.erlide.clearcase.ci"
                id="org.erlide.clearcase.ci"
                label="%CiFile"
                mnemonic="&amp;Ci"
                tooltip="Checkin">
          </command>
          <command
                commandId="org.erlide.clearcase.diff"
                id="org.erlide.clearcase.diff"
                label="%DiffFile"
                mnemonic="&amp;Diff"
                style="push"
                tooltip="Diff">
          </command>
          <command
                commandId="org.erlide.clearcase.lsvtree"
                id="org.erlide.clearcase.lsvtree"
                label="%ListTree"
                style="push"
                tooltip="Filetree">
          </command>
          <command
                commandId="org.erlide.clearcase.ctgui"
                id="org.erlide.clearcase.ctgui"
                label="Xclearcase or Xterm"
                style="push"
                tooltip="Xclearcase">
          </command>
       </menu>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="org.erlide.clearcase.clearcase"
             label="%Menu_Label">
          <command
                commandId="org.erlide.clearcase.co"
                helpContextId="org.erlide.clearcase.coc"
                id="org.erlide.clearcase.co"
                label="Co"
                style="push"
                tooltip="Checkout current open file">
          </command>
          <command
                commandId="org.erlide.clearcase.diff"
                helpContextId="org.erlide.clearcase.diffc"
                id="org.erlide.clearcase.diff"
                label="Diff"
                style="push"
                tooltip="Diff current open file">
          </command>
          <command
                commandId="org.erlide.clearcase.lsvtree"
                helpContextId="org.erlide.clearcase.lsvtreec"
                id="org.erlide.clearcase.lsvtree"
                label="Vtree"
                style="push"
                tooltip="Open clearcase file tree">
          </command>
          <command
                commandId="org.erlide.clearcase.refresh"
                disabledIcon="icons/refresh_disabled.gif"
                hoverIcon="icons/refresh_enabled.gif"
                icon="icons/refresh_enabled.gif"
                mnemonic="%contributions.view.refresh.mnemonic"
                style="push"
                tooltip="Refresh the selected file">
             <visibleWhen
                   checkEnabled="true">
                <equals
                      value="test">
                </equals>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="org.erlide.clearcase"
          name="%category.name.0">
    </category>
    <command
          categoryId="org.erlide.clearcase"
          id="org.erlide.clearcase.co"
          name="%CoFile">
    </command>
    <command
          id="org.erlide.clearcase.unco"
          name="%UndoFile">
    </command>
    <command
          categoryId="org.erlide.clearcase"
          id="org.erlide.clearcase.ci"
          name="%CiFile">
    </command>
    <command
          id="org.erlide.clearcase.diff"
          name="%DiffFile">
    </command>
    <command
          id="org.erlide.clearcase.lsvtree"
          name="%ListTree">
    </command>
    <command
          categoryId="org.erlide.clearcase"
          id="org.erlide.clearcase.ctgui"
          name="Xclearcase or Xterm">
    </command>
    <command
          categoryId="org.erlide.clearcase"
          id="org.erlide.clearcase.refresh"
          name="Refresh">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.co">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.unco">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.ci">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.diff">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.lsvtree">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.ctgui">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
    <handler
          class="org.erlide.clearcase.command.ClearcaseCmd"
          commandId="org.erlide.clearcase.refresh">
       <activeWhen>
          <with
                variable="activeEditor">
             <instanceof
                   value="org.eclipse.ui.IEditorPart">
             </instanceof>
          </with>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          description="Checkout current open file."
          id="org.erlide.clearcase.coc"
          name="%CoFile">
    </context>
    <context
          description="Diff previous version of the file."
          id="org.erlide.clearcase.diffc"
          name="%DiffFile">
    </context>
    <context
          description="Open the current file tree."
          id="org.erlide.clearcase.lsvtree"
          name="name">
    </context>
 </extension>
<extension point="org.eclipse.ui.bindings">
      <key
            commandId="org.erlide.clearcase.refresh"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F5">
      </key>
</extension>
</plugin>
